.footer {
	padding: 20px 0;
	background-color: #565656;
	color: #fff;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.footer__title {
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	transition: .7s;
}

.footer__title:hover {
	color: #fcf003;
}

.footer__left {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 550px;
	width: calc(100% - 100px);
}

.footer__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.footer__li {
	margin-bottom: 7px;
}

.footer__link {
	color: #fff;
	transition: .7s;
}

.footer__link:hover {
	color: #ff500a;
}

.footer__year {
	text-align: center;
}

@media screen and (max-width: 610px) {
	.footer__container {
		flex-direction: column;
		text-align: center;
		margin-bottom: 8px;
	}

	.footer__title {
		margin-bottom: 9px;
	}

	.footer__left {
		flex-direction: column;
		align-items: center;
	}
}