.hero {
	padding: 90px 0;
}

.hero__image {
	max-width: 400px;
}

.hero__title {
	margin-bottom: 25px;
	font-size: 80px;
	font-weight: 900;
}

.hero__subtitle {
	margin-bottom: 25px;
	font-size: 20px;
	color: grey;
	line-height: 1.5;
}


@media screen and (max-width:1023px) {
	.hero__title {
		font-size: 60px;
	}

	.hero__image {
		max-width: 250px;
	}
}

@media screen and (max-width:767px) {
	.hero__actions {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	.hero__title {
		font-size: 45px;
	}

	.hero__image {
		max-width: 230px;
	}
}