.projects {
	padding: 25px 0 40px;
	background-color: #fff;
}

.projects__title {
	font-size: 23px;
	margin-bottom: 35px;
}

.sites {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.site {
	max-width: 200px;
	border-radius: 20px;
	transition: .7s;
}

.site:hover {
	box-shadow: 2px 1px 18px #595959;
}

.site__picture {
	border-radius: 20px 20px 0 0;
}

.site__desc {
	min-height: 60px;
	padding: 10px 0 10px 15px;
}

.site__name {
	font-weight: 400;
}

.site__year {
	font-size: 14px;
}

@media screen and (max-width: 1024px) {
	.site {
		margin-right: 10px;
	}
}

@media screen and (max-width: 640px) {
	.sites {
		flex-wrap: wrap;
		max-height: 100%;

	}
}

@media screen and (max-width: 465px) {
	.sites {
		justify-content: center;
	}

	.site {
		margin-bottom: 15px;
		box-shadow: 3px 5px 10px #595959;
	}
}